
<div class="lecture-container">
  <div class="lecture-banner">
    <iframe width="560" height="315" src=" <%= @lecture.url %>" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="lectures-info">
  <div class="container lecture-banner-title">
    <p><%= @lecture.course.name %></p>
    <h2><%= @lecture.title %></h2>
  </div>

  <div class="lecture-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur rem ipsa, suscipit animi.
    Quisquam eos repellendus assumenda.</p>
  </div>

  <div class="container user-uploads-container">
    <div class="user-uploads-title">
      <p>Your Turn</p>
      <h2>Submit Your Artwork!</h2>
    </div>
  </div>

  <div class="user-upload-form">
    <% if @lecture.artworks %>
    <div class="user-upload-gallery carousel" id="artworks">
      <% @lecture.artworks.each do |artwork| %>
      <div class="courses-box courses-box-slick">
        <div class="card course-card card-course-slick" style="background-image: url('<%= cl_image_path artwork.photo.path, crop: :fill %>');">
        <%# cl_image_tag artwork.photo.path, width: 500, height: 300, crop: :fill %>
        <div class="card-course-name-slick"><h2><%= artwork.message %></h2></div>
        </div>
      </div>
      <% end %>
    </div>
      <div class="artworks-form">
        <hr>
      <%= render 'artworks/form', lecture: @lecture, artwork: @artwork %>
      </div>
    <% else %>
      <p>Upload your first artwork for <%= @lecture.title %></p>
        <%= render 'artworks/form', lecture: @lecture, artwork: @artwork %>
        <% end %>
      </div>
  </div>

