<% image_url = artwork.photo ? artwork.photo.path : "sample" %>
<div class="studio-uploads" style="background-image: url('<%= cl_image_path image_url, width: 200, height: 300, crop: :fill %>')">
  <div class="studio-upload-img" data-toggle="modal" data-target="#artwork-<%= artwork.id %>">
    <span class="tooltiptext invisible">Add/View Feedback</span>
  </div>
</div>

<div id="artwork-<%= artwork.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Artwork by: <%= artwork.user.first_name %></h4>
      </div>
      <div class="modal-body">
        <div class="modal-heading">
          <%= cl_image_tag image_url, width: 500, height: 300, crop: :fill %>
          <br>
        <h4>Title: <%= artwork.message %></h4>
        </div>
        <hr>
        <div class="feedbacks-<%= artwork.id %>">
        <% artwork.feedbacks.each do |feedback| %>


          <% if feedback.author == feedback.student %>

            <div class="p-left">
              <div class="feedback-img">
                <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
              </div>
              <div class="feedback-content">
                <%= feedback.content %>
                <div class="triangle-left"></div>
              </div>
            </div>
          <% elsif feedback.author == feedback.teacher %>

            <div class="p-right">
              <div class="feedback-content">
                <%= feedback.content  %>
                <div class="triangle-right"></div>
              </div>
              <div class="feedback-img">
                <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>

        <%= simple_form_for [artwork, feedback], remote: true, class: 'form-inline' do |f| %>
        <%= f.input :content, label: 'Feedback', as: :text, input_html: {class: "feedback-input"} %>
        <%= f.submit "Send Message", class: "btn btn-frida" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-frida btn-frida-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






