
  <%= cl_image_tag artwork.photo.path, width: 200, height: 300, crop: :fill %></div>


    <div id="artwork" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
            <h4 class="modal-title" id="myModalLabel">Artwork from: <%= artwork.user.first_name %></h4>
          </div>
          <div class="modal-body">
            <%= cl_image_tag artwork.photo.path, width: 500, height: 300, crop: :fill %>
              <p><%= artwork.message %></p>

            <%= simple_form_for [artwork, feedback], class: 'form-inline' do |f| %>
                    <%= f.input :content, label: 'Feedback', as: :text %>
                    <%= f.submit "Start a conversation", class: "btn btn-frida" %>
                    <% end %>
            <% artwork.feedbacks.each do |feedback| %>
              <% if feedback.teacher == current_user %>
                <p> <%= feedback.teacher.first_name %> says <%= feedback.content  %> </p>
              <% elsif feedback.student == current_user %>
                <p> <%= feedback.student.first_name %> says <%= feedback.content  %> </p>
            <% end %>
            <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>

