<% image_url = artwork.photo ? artwork.photo.path : "sample" %>
<div class="studio-uploads" style="background-image: url('<%= cl_image_path image_url, width: 200, height: 300, crop: :fill %>')">
  <div class="studio-upload-img" data-toggle="modal" data-target="#artwork-<%= artwork.id %>">
    <span class="tooltiptext invisible">Add/View Feedback</span>
  </div>
</div>

<div id="artwork-<%= artwork.id %>" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Artwork by: <%= artwork.user.first_name %></h4>
      </div>
      <div class="modal-body">
        <div class="modal-heading">
        <div id="canvas-artwork-<%= artwork.id %>", style="width: 500px">
          <%= cl_image_tag image_url, width: 500, height: 300, crop: :fill %>
          <% if pins %>
            <% pins.each do |pin| %>
            <div class="artwork-pin" style="left:<%= pin.left %>%; top:<%= pin.top %>%;">
              <span><%= pin.numero %></span>
            </div>
            <% end %>
          <% end %>
          </div>
          <br>
        <h4>Title: <%= artwork.message %></h4>
          <% if artwork.user == current_user %>
          <% if artwork.featured %>
            <h4><i class = "fa fa-star"></i> Featured on your profile page</h4>
            <% else %>
          <%= link_to '<i class = "fa fa-star-o"></i> Feature on your profile page'.html_safe, artwork_feature_path(artwork), method: :patch %>
          <% end %>
          <% end %>
        </div>
        <hr>
        <div class="feedbacks-<%= artwork.id %>">
        <% artwork.feedbacks.each do |feedback| %>


          <% if feedback.author == feedback.student %>

            <div class="p-left">
              <div class="feedback-img">
                <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
              </div>
              <div class="feedback-content">
                <%= feedback.content %>
                <div class="triangle-left"></div>
              </div>
            </div>
          <% elsif feedback.author == feedback.teacher %>

            <div class="p-right">
              <div class="feedback-content">
                <%= feedback.content  %>
                <div class="triangle-right"></div>
              </div>
              <div class="feedback-img">
                <%= unique_image_tag(feedback.author, :width=>40, :height=>40, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>

        <%= simple_form_for [artwork, feedback], remote: true, class: 'form-inline' do |f| %>
        <%= f.input :content, label: 'Feedback', as: :text, input_html: {class: "feedback-input"} %>
        <%= f.submit "Send Message", class: "btn btn-frida" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-frida btn-frida-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  var numero = parseInt("<%= @pins.last ? @pins.last.numero : 0 %>");
  var canvas_artwork_id = '#canvas-artwork-' + '<%= artwork.id %>';
  $(canvas_artwork_id).click(function(event){
    numero += 1;

    // Handle Coordinates
    // (x, y) => coordinates relative to the page, (0, 0) is the top left corner
    // (top, left) => cooridnates of the image expressed in % from the top left corner of the image
    // Improvement deal with responsive issue by getting the actual size of the image from the image
    var boundingRect = this.getBoundingClientRect();
    var x0 = boundingRect.left
    var y0 = boundingRect.top
    var x = event.pageX;
    var y = event.pageY;
    var width = $(this).width();
    var height = $(this).height();
    var left = Math.round(( (x - x0) / width ) * 100);
    var top = Math.round(( (y - y0) / height ) * 100);

    console.log(boundingRect)

    // Create a pin DIV and append it to the image
    var pin = $('<div class="artwork-pin" style="left:' + left + '%; top:'+ top + '%;"><span>' + numero + '</span></div>').hide();
    $(this).append(pin)
    pin.fadeIn();

    console.log('<%= artwork_pins_path(artwork) %>');

    // Save It In DB
    $.post({
      type: "POST",
      url: "<%= artwork_pins_path(artwork) %>",
      data: { pin: {left: left, top: top, numero: numero }}
    });
  })
</script>
<% end %>




