<div class="banner-user">
  <%= unique_image_tag(current_user, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
<!--       <h3>Email: <%# @user.email %></h3>
-->  <p>Member Since: <%= @user.created_at.strftime("%e %B %Y") %></p>
      <p><%= link_to "Edit Profile", edit_user_path(@user) %> | <%= link_to "Create New Course", new_course_path %></p>


</div>
  <div class="container">
    <div class="banner-bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim accusantium eligendi incidunt placeat aperiam sunt quia earum soluta.</p>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div>

  <div class="banner-studio">
    <div class="banner-studio-title">
      <h2><%= @user.first_name %>'s Studio</h2>
    </div>
  </div>

  <div class="container">
    <div class="user-studio-gallery">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
    </div>
  </div>

  <div class="banner-studio">
    <div class="banner-studio-title">
      <h2>Enrolled Courses</h2>
    </div>
  </div>

  <div class="container">
    <div class="user-studio-gallery">
    <% @courses.each do |course| %>
      <div class="courses-box courses-box-slick">
        <div class="card course-card card-course-slick" style="background-image: url('<%= cl_image_path course.photo? ? course.photo.path : 'logo.png', crop: :fill %>');">
          <div class="card-category card-category-slick"><%= course.category %></div>
          <%= link_to "", course_path(course), class: "card-link"  %>
          <div class="card-course-name-slick"><h2><%= course.name %></h2></div>
        </div>
      </div>
    <% end %>
<!--       <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt=""> -->
    </div>
  </div>
</div>

