<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1><%= @user.first_name %> <%= @user.last_name %>'s Page</h1>
      <h3>Email: <%= @user.email %></h3>
      <h3>Member Since: <%= @user.created_at %></h3>
      <%= link_to "Edit Profile", edit_user_path(@user) %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Courses Currently Enrolled In</h3>
      <h3>Courses Completed</h3>
    </div>
  </div>
</div>
