<%= render 'shared/subnav' %>
<div class="container user-show">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm" id="sticky">
      <div class="user-side-bar">
        <div class="user-side-img">
          <%= unique_image_tag(@user, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
        </div>

      <div class="user-details">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>
        <p><%= @user.biodata %></p>
        <br>
        <p>Member Since: <%= @user.created_at.strftime("%e %B %Y") %></p>
        <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
      </div>

      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="user-greeting">
        <h2>Hey, I'm <%= @user.first_name %>!</h2>
          <h3 class="sentence">I have
            <div class="slidingVertical">
              <span>mad skills.</span>
              <span>enrolled on <%= pluralize current_user.participations.count, "course" %>.</span>
              <span>unlocked <%= pluralize current_user.badge_count, "badge" %>.</span>
              <span>contributed <%= pluralize current_user.course_reviews.count, "review" %>.</span>
              <span>uploaded <%= pluralize current_user.artworks.count, "artwork" %>.</span>
            </div>
        </h3>
      </div>

    <div class="hr-medium">
      <hr>
    </div>

      <div class="user-show-studio">
        <h3>My Featured Artwork</h3>
          <div class="user-studio-gallery carousel">
          </div>
      </div>

      <div class="user-show-studio">
        <h3>My Courses</h3>
          <div class="user-studio-gallery carousel">
            <%= render 'shared/enrolledcoursecard' %>

          </div>
      </div>

      <div class="user-show-studio">
        <h3>Badges I've Earned</h3>
        <p>BADGES HERE</p>
        <div class="achievement-badges">
          <div class="achievement-participation <%= current_user.one_participation? ? '' : 'hidden' %>"></div>
          <div class="achievement-three-participations <%= current_user.three_participations? ? '' : 'hidden' %>"></div>
          <div class="achievement-first-expressionism <%= current_user.first_expressionism? ? '' : 'hidden' %>"></div>
          <div class="achievement-first-review <%= current_user.first_review? ? '' : 'hidden' %>"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="banner-user">
  <%# unique_image_tag(@user, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
  <h1><%# @user.first_name %> <%# @user.last_name %></h1>
      <h3>Email: <%# @user.email %></h3>
  <p>Member Since: <%# @user.created_at.strftime("%e %B %Y") %></p>
      <%# link_to "Create New Course", new_course_path %></p>
</div> -->

<!--   <div class="container">
    <div class="banner-bio">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim accusantium eligendi incidunt placeat aperiam sunt quia earum soluta.</p>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
  </div> -->

<!--   <div class="banner-studio">
    <div class="banner-studio-title">
      <h2><%# @user.first_name %>'s Studio</h2>
    </div>
  </div>

  <div class="container">
    <div class="user-studio-gallery">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
    </div>
  </div>

  <div class="banner-studio">
    <div class="banner-studio-title">
      <h2>Enrolled Courses</h2>
    </div>
  </div>

  <div class="container">
    <div class="user-studio-gallery">
      <%# render 'shared/enrolledcoursecard' %>
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
      <img src="https://placehold.it/100x100" alt="">
    </div>
  </div>


 -->
