<div class="footer">
  <div class="footer-content">

    <div class="footer-logo">
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo copy white.png" %>
      <% end %>
  </div>

    <div class="footer-details">
      <ul>Elder St</ul>
      <ul>Shoreditch</ul>
      <ul>London E1 6BT</ul>
    </div>

    <div class="footer-details">
      <ul>+44 (0)77 9601 6734</ul>
      <ul>contact@frida.studio</ul>
    </div>

    <div class="footer-icons">
      <%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "https://www.facebook.com/lewagonlondon/", target: :_blank %>
      <%= link_to "<i class='fa fa-twitter' aria-hidden='true'></i>".html_safe, "https://twitter.com/lewagonlondon", target: :_blank %>
      <%= link_to "<i class='fa fa-instagram' aria-hidden='true'></i>".html_safe, "https://instagram.com/lewagonlondon", target: :_blank %>
      <%= link_to "<i class='fa fa-github-alt' aria-hidden='true'></i>".html_safe, "https://github.com/lewagon", target: :_blank %>
      <%= link_to "<i class='fa fa-meetup' aria-hidden='true'></i>".html_safe, "https://www.meetup.com/Le-Wagon-London-Coding-School/", target: :_blank %>
    </div>
  </div>
</div>
