<div class="navbar-wagon <%= params[:action] == "home" ? "nav-absolute" : "" %> <%= "navbar-fixed" if params[:action] == "about" %> <%= yield(:navbar) %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <% if content_for?(:logo) %>
      <%= image_tag yield(:logo) %>
    <% else %>

      <%= image_tag "logo copy.png" %>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <!-- Manage Courses -->
  <% if user_signed_in? && current_user.teacher %>
    <%= link_to 'Manage Courses', manage_courses_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>

    <!-- About link -->
    <%= link_to "About", about_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Courses link -->
    <%= link_to "Courses", courses_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->

<!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
        <div class="badge-container dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-red"><%= current_user.notifications.where(read: false).count %></div>
          </div>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu navbar-notifications">
            <% if current_user.notifications.where(read: false).count > 0 %>
              <% current_user.notifications.where(read: false).each do |notification| %>
                <% if current_user.teacher == false %>
                  <li>
                    <%= link_to "#{User.find(notification.notified_by_id).full_name} has #{notice_type}ed on your artwork, #{notification.feedback.artwork.message}", link_through_path(notification) %>
                  </li>
                <% elsif current_user.teacher %>
                  <li>
                    <%= link_to "#{User.find(notification.notified_by_id).full_name} has requested feedback for #{notification.feedback.artwork.lecture.title}.", link_through_path(notification) %>
                  </li>
                <% end %>
              <% end %>
            <% else %>
              <li style="font-size: 12px; margin-left: 17px;">No new notifications</li>
            <% end %>
          </ul>
        </div>
      </div>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= unique_image_tag current_user, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to dashboard_path do %>
                <i class="fa fa-paint-brush"></i><%= t(".profile", default: " Dashboard") %>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: " Profile") %>
              <% end %>
            </li>
             <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="fa fa-cog"></i> <%= t(".profile", default: " Edit settings") %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: " Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

    <!-- Search form -->
<!--     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Button (call-to-action) -->
<!--     <%# link_to t(".top_call_to_action", default: "Post stuff"), "#", class: "navbar-wagon-item navbar-wagon-button btn" %> -->
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

