<div class="subnav">
  <div class="subnav-container">
    <div class="subnav-list">
      <ul>
        <li class="subnav-link-one" <%= 'active' if params[:action] == 'dashboard' %>><%= link_to "Dashboard", dashboard_path %></li><!--
         --><li class="subnav-link-two" <%= 'active' if params[:action] == 'studio' %>><%= link_to "Studio", studio_path %></li><!--
         --><li class="subnav-link-three" <%= 'active' if params[:action] == 'my_courses' %>><%= link_to "Manage Courses", manage_courses_path %></li><!--
         --><hr class="hr-subnav">
      </ul>
    </div>
  </div>
</div>
<!-- <li class=<%# 'active' if params[:action] == 'show' %>><%# link_to "Profile", user_path(current_user) %></li> -->
<!-- <li class=<%# 'active' if params[:action] == 'account' %>><%# link_to "Account", root_path %></li> -->
