<% content_for(:title_tag) do  %>
  frida - we maked dis
<% end %>

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<div id="parallax-frida">
  <section>
    <div class="title about-container" data-anchor="about" >
      <h3>a <%= link_to "Le Wagon", "https://www.lewagon.com/london", :target => "_blank" %> final project</h3>
      <h1>London #74</h1>
    </div>
  </section>

  <section>
      <div class="parallax-one">
        <h2>ABOUT FRIDA</h2>
        <h3>the online art school</h3>
      </div>
  </section>

  <section>
    <div class="block">
      <div class="row">
        <div class="col-xs-6 line-right">
          <p><span class="first-character sc">F</span>rida Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ratione voluptate libero, obcaecati consectetur blanditiis id. Sunt dolor cumque praesentium sapiente animi esse pariatur laborum possimus, harum sequi, placeat eaque.</p>
        </div>
        <div class="col-xs-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, minima praesentium neque quisquam dignissimos sunt saepe ea excepturi voluptate fugit explicabo veniam dolore iure nemo nobis, natus a consequuntur! Nemo.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="parallax-two">
      <h2>THE TEAM</h2>
      <h3>Claudia + Hwei + Rebekah</h3>
    </div>
  </section>

  <section>
    <div class="block-card">
      <div class="wrapper">
        <div class="fridateam-card hwei archer wow slideInDown" data-wow-delay="<%= rand(0.5..1.0)%>s">
          <div class="fridateam-card__image fridateam-card__image--archer img-hwei">
          </div>
          <div class="fridateam-card__level fridateam-card__level--archer">Back-end Ninja</div>
          <div class="fridateam-card__unit-name">Hwei</div>
          <div class="fridateam-card__unit-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima mollitia amet quaerat numquam dolorum, esse consequuntur sit.</p>
          </div>

          <div class="fridateam-card__unit-stats fridateam-card__unit-stats--archer clearfix">
            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "http://www.facebook.com/hwei.tan", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-github-alt' aria-hidden='true'></i>".html_safe, "http://www.github.com/hw3i", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third no-border">
              <div class="stat"><%= link_to "<i class='fa fa-instagram' aria-hidden='true'></i>".html_safe, "http://www.instagram.com/hw3i", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>
          </div>
        </div>

        <div class="fridateam-card claudia archer wow slideInDown" data-wow-delay="<%= rand(0.5..1.0)%>s">
          <div class="fridateam-card__image fridateam-card__image--archer img-claudia">
          </div>
          <div class="fridateam-card__level fridateam-card__level--archer">Dutch Captain</div>
          <div class="fridateam-card__unit-name">Claudia</div>
          <div class="fridateam-card__unit-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima mollitia amet quaerat numquam dolorum, esse consequuntur sit.</p>
          </div>

          <div class="fridateam-card__unit-stats fridateam-card__unit-stats--archer clearfix">
            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "http://www.facebook.com/claudia.terpstra.39", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-github-alt' aria-hidden='true'></i>".html_safe, "http://www.github.com/claudiaterpstra", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third no-border">
              <div class="stat"><%= link_to "<i class='fa fa-instagram' aria-hidden='true'></i>".html_safe, "http://www.instagram.com/claudia.terpstra", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>
          </div>
        </div>

        <div class="fridateam-card bekah archer wow slideInDown" data-wow-delay="<%= rand(0.5..1.0)%>s">
          <div class="fridateam-card__image fridateam-card__image--archer img-bekah">
            <%# image_tag 'http://res.cloudinary.com/rebekah/image/upload/v1497456893/fridaprofilepic_klwang.png' %>
          </div>
          <div class="fridateam-card__level fridateam-card__level--archer">Design Bunny</div>
          <div class="fridateam-card__unit-name">Rebekah</div>
          <div class="fridateam-card__unit-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima mollitia amet quaerat numquam dolorum, esse consequuntur sit.</p>
          </div>

          <div class="fridateam-card__unit-stats fridateam-card__unit-stats--archer clearfix">
            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-facebook' aria-hidden='true'></i>".html_safe, "http://www.facebook.com/rebekahcheng", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third">
              <div class="stat"><%= link_to "<i class='fa fa-github-alt' aria-hidden='true'></i>".html_safe, "http://www.github.com/rebekahcheng", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>

            <div class="one-third no-border">
              <div class="stat"><%= link_to "<i class='fa fa-instagram' aria-hidden='true'></i>".html_safe, "http://www.instagram.com/rebekahcheng", target: :_blank %></div>
              <div class="stat-value"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="parallax-three">
      <h2></h2>
    </div>
  </section>

  <section>
    <div class="block">
      <div class="row">
        <div class="title" data-anchor="about" >
          <h3>Our Honorary Frida Members</h3>
          <h1>THANK YOU</h1>
          <i class="em em-raised_hands"></i>
        </div>
        <div class="col-xs-6 col-xs-offset-3 thankyou">
          <h2><%= link_to "Alex", "http://www.github.com/alex-felix", target: :_blank %>,
          <%= link_to "Arthur", "http://www.github.com/arthur-littm", target: :_blank %>,
          <%= link_to "Boris", "http://www.github.com/papillard", target: :_blank %>,
          <%= link_to "Ed", "http://www.github.com/eschultz", target: :_blank %>,
          <%= link_to "Guv", "http://www.github.com/guv0", target: :_blank %>,
          <%= link_to "Romain", "http://www.github.com/lacampe", target: :_blank %>,
          <%= link_to "Remi", "http://www.github.com/dyvoire", target: :_blank %>,
          <%= link_to "Thomas", "http://www.github.com/thomassertorio", target: :_blank %>.
          </h2>
          <p></p>
        </div>
      </div>
      <div class="row">
      <%= link_to "#about", class: "floating scroll-center" do %>
        <%= image_tag 'arrowup.png' %>
        <p id="scroll-text">BACK TO TOP</p>
      <% end %>
      </div>
    </div>
  </section>
<!-- </div> -->

<% content_for(:after_js) do %>
  <script>
  $("a[href='#about']").click(function() {
    $("html, body").animate({ scrollTop: 0 }, 2500);
    return false;
  });
  </script>
<% end %>

<%= render 'courses/shared/scrollreveal' %>


<!-- <div id="fullpage">
  <div class="section about-container" data-anchor="about">
    <%# link_to "#team", class: "floating scroll-center" do %>
      <%# image_tag 'arrow.png' %>
      <p id="scroll-text">SCROLL</p>
    <%# end %>
    <div class="container">
      <div class="about-title">
        <h2 id="about-title-text">a final project by</h2></span>
      </div>
    </div>
  </div>


  <div class="section about-team" data-anchor="team">Section II
    <%# link_to "#final", class: "floating scroll-center" do %>
      <%# image_tag 'arrow.png' %>
      <p id="scroll-text">SCROLL</p>
    <%# end %>
  </div>

  <div class="section about-final" data-anchor="final">Section III
    <%# link_to "#about", class: "floating scroll-center" do %>
      <%# image_tag 'arrowup.png' %>
      <p id="scroll-text">BACK TO TOP</p>
    <%# end %>
  </div>
</div>

<%# content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $('#fullpage').fullpage()
        anchors:['about', 'team', 'final']
    });
  </script>
<%# end %>
 -->
