<h1>Dashboard</h1>



<div class="tabs">
  <a class="tab active" data-target="#student">
    <h3>Student</h3>
  </a>
  <a class="tab active" data-target="#teacher">
    <h3>Teacher</h3>
  </a>
</div>


  <div class="container">
  <div class="tab-content" id="student">
    <div class="user-studio-gallery">
    <% current_user.courses_participated.each do |course| %>
      <div class="courses-box courses-box-slick">
        <div class="card course-card card-course-slick" style="background-image: url('<%= cl_image_path course.photo? ? course.photo.path : 'logo.png', crop: :fill %>');">
          <div class="card-category card-category-slick"><%= course.category %></div>
          <%= link_to "", course_path(course), class: "card-link"  %>
          <div class="card-course-name-slick"><h2><%= course.name %></h2></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="tab-content hidden" id="teacher">
    <div class="user-studio-gallery">
      <% if current_user.courses.any? %>
        <% current_user.courses.each do |course| %>
            <div class="courses-box courses-box-slick">
              <div class="card course-card card-course-slick" style="background-image: url('<%= cl_image_path course.photo? ? course.photo.path : 'logo.png', crop: :fill %>');">
                <div class="card-category card-category-slick"><%= course.category %></div>
                <%= link_to "", course_path(course), class: "card-link"  %>
                <div class="card-course-name-slick"><h2><%= course.name %></h2></div>
              </div>
            </div>
            <% end %>
      <% else %>
        <%= link_to "Become a teacher", new_course_path %>
      <% end %>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascript/tabs.js"></script>
