<%= render 'shared/subnav' %>
<div class="container user-show">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm">
      <div class="user-side-bar">
        <div class="user-side-img">
          <%= unique_image_tag(@user, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :crop=>"fill") %>
        </div>

      <div class="user-details">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-github-alt" aria-hidden="true"></i>
        <p>Member Since: <%= @user.created_at.strftime("%e %B %Y") %></p>
        <p><%= link_to "View Profile", user_path(@user) %></p>
      </div>

      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12">
      <div class="user-greeting">
        <h2>What's up, <%= @user.first_name %>!</h2>
          <h3 class="sentence">You
            <div class="slidingVertical">
              <span>are awesome.</span>
              <span>are enrolled on <%= pluralize current_user.participations.count, "course" %>.</span>
              <span>have unlocked <%= pluralize current_user.badge_count, "badge" %>.</span>
              <span>have <%= pluralize current_user.course_reviews.count, "course" %>.</span>
              <span>completed 3 Frida courses.</span>
            </div>
        </h3>
      </div>

    <div class="hr-medium">
      <hr>
    </div>


      <div class="user-show-studio">
        <h3>Your Studio</h3>
          <div class="user-studio-gallery carousel">

          </div>
      </div>

      <div class="user-show-studio">
        <h3>Your Enrolled Courses</h3>
          <div class="user-studio-gallery carousel">
            <%= render 'shared/enrolledcoursecard' %>

          </div>
      </div>

      <div class="user-dashboard-badges">
        <h3>Your Frida Badges</h3>
          <div class="achievement-badges">
            <div class="achievement-participation <%= current_user.one_participation? ? '' : 'achievement-locked' %>"></div>
            <div class="achievement-three-participations <%= current_user.three_participations? ? '' : 'achievement-locked' %>"></div>
            <div class="achievement-first-expressionism <%= current_user.first_expressionism? ? '' : 'achievement-locked' %>"></div>
            <div class="achievement-first-review <%= current_user.first_review? ? '' : 'achievement-locked' %>"></div>
          </div>
      </div>

    </div>

  </div>
</div>
