<%= render 'shared/subnav' %>
<div class="container user-studio">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm" id="sticky">
      <div class="user-studio-sidebar">
        <ul>
          <span class="artworks-filter-all <%= 'active' if params[:course].nil? && params[:lecture].nil? %>"><li><%= link_to "View All Artwork (#{@artworks_count})", studio_path %></li></span>
          <h4>View by course:</h4>
          <% @courses.each do |course| %>
            <% if course.artworks.where(user: @user).count > 0 %>
              <span class="artworks-filter-names <%= 'active' if params[:course].to_i == course.id %>"><li><%= link_to "#{course.name} (#{course.artworks.where(user: @user).count})", studio_path(course: course) %></li></span>
            <% end %>
          <% end %>

          <h4>View by lecture:</h4>
          <% @lectures.each do |lecture| %>
            <% if lecture.artworks.where(user: @user).count > 0 %>
              <span class="artworks-filter-names <%= 'active' if params[:lecture].to_i == lecture.id %>"><li><%= link_to "#{lecture.title} (#{lecture.artworks.where(user: @user).count})", studio_path(lecture: lecture) %></li></span>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12 studio-right-column">
      <h2>Your Artwork</h2>
      <h4>Hey <%= @user.first_name %>! Manage all your artwork uploads here and access feedback from your course instructor by clicking on any image. Got a question? Hit us up help@frida.studio.</h4>
      <hr>

      <!-- <h3>Your Artwork</h3> -->
      <% if @artworks.count > 0 %>
        <% @artworks.sort_by(&:id).each do |artwork| %>
          <div class="artwork-container">
            <% if artwork.id == params["artwork"].to_i %>
              <div class="random red-thing"><p>feedback</p></div>
            <% end %>
                <%= render 'artworks/show_modal', artwork: artwork, feedback: @feedback %>
          </div>
        <% end %>
      <% else %>
      <h4>Uh-oh! You've got no artwork yet. Start a course, upload your work and let's sort this studio out!</h4>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $( document ).ready(function() {
      $('.studio-uploads').click(function () {
        $('.random').empty();
      });
    });
  </script>
<% end %>
