<%= render 'shared/subnav' %>
<div class="container user-studio">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm" id="sticky">
      <div class="user-studio-sidebar">
        <ul>
          <span class="artworks-filter-all"><li><%= link_to "View All Artwork (#{@artworks_count})", studio_path %></li></span>
          <h4>View by course:</h4>
          <% @courses.each do |course| %>
          <span class="artworks-filter-names"><li><%= link_to "#{course.name} (#{course.artworks.where(user: @user).count})", studio_path(course: course) %></li></span>
          <% end %>

          <h4>View by lecture:</h4>
          <% @lectures.each do |lecture| %>
            <% if lecture.artworks.where(user: @user).count > 0 %>
              <span class="artworks-filter-names"><li><%= link_to "#{lecture.title} (#{lecture.artworks.where(user: @user).count})", studio_path(lecture: lecture) %></li></span>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-md-8 col-sm-12 studio-right-column">
      <h2>Your Frida Studio</h2>
      <h4>Hey <%= @user.first_name %>! Manage all your artwork uploads here and access feedback from your course instructor by clicking on any image. Got a question? Hit us up help@frida.studio.</h4>
      <hr>

      <!-- <h3>Your Artwork</h3> -->
      <% if @artworks.count > 0 %>
        <% @artworks.sort_by(&:id).each do |artwork| %>
          <%= render 'artworks/show_modal', artwork: artwork, feedback: @feedback %>
        <% end %>
      <% else %>
      <h4>No artworks found... Please refine your search</h4>
      <% end %>
    </div>
  </div>
</div>
