
<div class="container">
  <div class="text-center course-heading">
    <h1>Studio</h1>
    <%= render 'courses/searchform' %>
  </div>
  <br>

<<<<<<< HEAD

  <div class="container">
    <% if @artworks.count > 0 %>
      <% @artworks.order(:id).each do |artwork| %>

      <div data-toggle="modal" data-target="#artwork"><%= cl_image_tag artwork.photo.path, width: 500, height: 300, crop: :fill %></div>
       <p><%= artwork.message %></p>

    <div id="artwork" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
            <h4 class="modal-title" id="myModalLabel">Artwork from: <%= artwork.user.first_name %></h4>
          </div>
          <div class="modal-body">
            <%= cl_image_tag artwork.photo.path, width: 500, height: 300, crop: :fill %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


      <% end %>
    <% end %>
  </div>
=======
  <ul>
    <li>
      <%= link_to "All (#{Artwork.all.count})", studio_path %>
    </li>
    <% @lectures.uniq.each do | lecture | %>
      <li>
      <%= link_to "#{lecture.title} (#{lecture.artworks.count})", studio_path(lecture: lecture.title) %>
      </li>
    <% end %>
  </ul>

  <% @artworks.order(:id).each do |artwork| %>
    <%= cl_image_tag artwork.photo.path, width: 500, height: 300, crop: :fill %>
    <p><%= artwork.message %></p>
  <% end %>


>>>>>>> 3091bed17d1cbe35ee774ffda797a2a41811605a
</div>
