<div class="payments-info">
  <div class="container payments-banner-title">
    <p>Payments</p>
    <h2><%= @course.name %></h2>
  </div>
  <div class="container payments-container">
    <div class="banner banner-course-image" style="background-image: url('<%= cl_image_path @course.photo? ? @course.photo.path : 'logo.png', crop: :fill %>');"></div>
    <h3>Hey <%= current_user.first_name %>!</h3>
    <p>Thanks for choosing <%= @course.name %>.</p>
    <p>Click the 'Pay with Card' button to complete your purchase.</p>
    <%= form_tag order_payments_path(@order) do %>
      <article>
        <label class="amount">
          <span><h3>Amount to pay:</h3>
          <h3><%= humanized_money_with_symbol(@order.amount) %></h3></span>
        </label>
      </article>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Booked Course"
        data-email="<%= current_user.email %>"
        data-description="Course <%= @order.course_id %>"
        data-amount="<%= @order.amount_pennies %>"
        data-currency="<%= @order.amount.currency %>"></script>
      <% end %>
  </div>
</div>

