<% if @course.user == current_user %>
  <% if @course.lectures != [] %>
    <% count = 1 %>
    <% @course.lectures.each do |lecture| %>
      <div class="tab tab-title">
        <h2 class="tab--title">
          <div class="tab-icon"></div>
            Lecture <%= count %>
            <% count += 1 %>
        </h2>
          <div class="content-block block-skin-grey clearfix">
            <h2 class="content-block-title"><%= lecture.title %></h2>
              <p><%= lecture.description %></p>
          </div>
      </div>
    <% end %>
    <% if @course.published == false %>
      <%= link_to "Add your next lecture", new_course_lecture_path(@course) %>
      <%= link_to "Publish this course", course_publish_path(@course), method: :patch %>
      <% else %>
      <p>This course is now published</p>
    <% end %>
  <% else %>
    <%= link_to "Add your first lecture", new_course_lecture_path(@course) %>
  <% end %>
<% elsif  @course.published == true %>
  <% count = 1 %>
  <% @course.lectures.each do |lecture| %>
    <div class="tab tab-title">
      <h2 class="tab--title">
        <div class="tab-icon"></div>
          Lecture <%= count %>
          <% count += 1 %>
          <div class="start-icon right-button">
        <% if user_signed_in? %>
          <% if current_user.participates_to?(@course) %>
          <%= link_to '<i class = "fa fa-play"></i>'.html_safe, lecture_path(lecture) %>
          <% end %>
        <% end %>
        </div>
      </h2>
      <div class="content-block block-skin-grey clearfix">
        <h2 class="content-block-title"><%= lecture.title %></h2>
        <p><%= lecture.description %></p>
        <% if user_signed_in? %>
          <% if current_user.participates_to?(@course) %>
        <%= link_to '<i class = "fa fa-play"></i>'.html_safe, lecture_path(lecture), class: "btn search-button lecture-button" %>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% else %>
  <p>This course is not yet published</p>
<% end %>




