<div class="container">
    <div class="banner banner-course-image" style="background-image: url('<%= cl_image_path @course.photo? ? @course.photo.path : 'logo.png', crop: :fill %>');">
    <div class="banner-course-content">
    <h1><%= @course.name  %></h1><br><br>
<!--     <p><%# @course.description %></p>
 -->    <% if user_signed_in? %>
      <% if current_user.participates_to?(@course) %>
        You are booked on this course
      <% else %>
        <%= simple_form_for [@course, @participation], class: 'form-inline' do |f| %>
          <%= f.submit "Book This Course", class: "btn btn-primary btn-lg" %>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for [@course, @participation], class: 'form-inline' do |f| %>
        <%= f.submit "Book This Course", class: "btn btn-primary btn-lg" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="container text-center course-overview">
  <h1>course overview</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "alarm-clock.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Duration</h3>
        <p class="show-card-description">10 weeks</p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "money-bag.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Price</h3>
        <p class="show-card-description">£<%= @course.price %></p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "artistic-brush.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Average Rating</h3>
        <% @course.rating.times do |rating| %>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <% end %>
        <p class="show-card-description"><%# @course.description %></p>
    </div>
  </div>
</div>


<div class="container text-center course-overview">
  <h1>materials</h1>
<!--   <p>what you'll need:</p>
 -->  <div class="row">
      <div class="col-xs-12 col-sm-4">
      <div class="materials-card">
        <i class="fa fa-paint-brush" aria-hidden="true"></i><br>
        <p>Brush</p>
      </div>
    </div>

      <div class="col-xs-12 col-sm-4">
      <div class="materials-card">
        <i class="fa fa-pencil" aria-hidden="true"></i><br>
        <p>Pencil</p>
      </div>
    </div>

      <div class="col-xs-12 col-sm-4">
      <div class="materials-card">
        <i class="fa fa-tree" aria-hidden="true"></i><br>
        <p>Paper</p>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<!-- <div class="container text-center">
  <h3>Meet the artist</h3>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="card-instructor" style="background-color: rgb(211,211,211)">
        <%= unique_image_tag(@course.user) %>
          <div class="flex-body">
           <p><%# @course.user.first_name %> <%# @course.user.last_name %></p>
           <p>Born in 1967 in Mexico City, Ortega is the leading Mexican artist of the generation that emerged in the wake of the influence of Gabriel Orozco and Francis Alÿs. Ortega studied with Orozco in the informal studio class established in the older artist’s atelier in the late 1980s.</p>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div> -->


