<div class="container">
    <div class="banner banner-course-image" style="background-image: url('<%= cl_image_path @course.photo? ? @course.photo.path : 'logo.png', crop: :fill %>');">
    <div class="banner-course-content">
    <h1><%= @course.name  %></h1><br><br>
<!--     <p><%# @course.description %></p>
 -->    <% if user_signed_in? %>
      <% if current_user.participates_to?(@course) %>
        You are booked on this course
      <% else %>
        <%= simple_form_for [@course, @participation], class: 'form-inline' do |f| %>
          <%= f.submit "Book This Course", class: "btn btn-frida" %>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for [@course, @participation], class: 'form-inline' do |f| %>
        <%= f.submit "Book This Course", class: "btn btn-frida" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

  <div class="container">
    <div class="banner-course-bio">
    <p><%= @course.description %></p>
    </div>
  </div>

<div class="container">
  <div class="materials-banner-title">
    <p>Course Category</p>
    <h1>Course Overview</h1>
  </div>

  <div class="overview-details">
    <div class="overview-duration">
      <%= image_tag "alarm-clock.png", {class: "show-card-image"}%>
    </div>

    <div class="overview-price">
      <%= image_tag "money-bag.png", {class: "show-card-image"}%>
    </div>

    <div class="overview-rating">
      <%= image_tag "frida-icon.png", {class: "show-card-image"}%>
        <h3 class="show-card-title">Frida Says</h3>
        <% @course.rating.times do |rating| %>
          <i class="fa fa-heart" aria-hidden="true"></i>
        <% end %>
        <% (5 - @course.rating).times do |rating| %>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="materials-banner-title">
    <p>things you'll need</p>
    <h1>Your Course Materials</h1>
  </div>

  <div class="materials-banner-details">
    <div class="materials-banner-img"></div>
    <div class="materials-banner-info text-center">
      <ul>
        <li>Paper</li>
        <li>Paint</li>
        <li>Sketching pencils</li>
      </ul>
    </div>
  </div>


<div class="container">
  <div class="artist-banner-title">
    <p>meet the artist</p>
    <h1>Your Course Instructor</h1>
  </div>

  <div class="artist-banner-details">
    <div class="artist-banner-profile">
      <%= unique_image_tag(@course.user) %>
    </div>

    <div class="artist-banner-info">
      <div class="artist-full-name">
        <h1>Artist Full Name</h1>
      </div>
      <div class="artist-banner-socials">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-dribbble" aria-hidden="true"></i>
          <i class="fa fa-github-alt" aria-hidden="true"></i>
      </div>
      <p>Born in 1967 in Mexico City, Ortega is the leading Mexican artist of the generation that emerged in the wake of the influence of Gabriel Orozco and Francis Alÿs. Ortega studied with Orozco in the informal studio class established in the older artist’s atelier in the late 1980s.</p>
        <div class="artist-banner-contact">
        <hr>
        <p>Got questions about the course?</p>
        <%= link_to "Message Me", courses_path, class: "btn btn-frida" %>
        </div>
    </div>
  </div>
</div>

<div class="container average-rating-show">
  <div class="average-rating">
    <p>
      Users Say:
      <% @course.average_rating.times do |rating| %>
        <i class="fa fa-heart" aria-hidden="true"></i>
      <% end %>
      <% (5 - @course.average_rating).times do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      <% end %>
    </p>
  </div>
</div>
<div class="container reviews-show">
  <% @course.course_reviews.each do |r| %>
    <p>
      <%= r.user.first_name %> says:
      <% r.rating.times do %>
        <i class="fa fa-heart" aria-hidden="true"></i>
      <% end %>
      <% (5 - r.rating).times do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      <% end %>
    </p>
    <p class="review-content"><%= r.content %></p>
    <br>
  <% end %>
</div>

 <% current_user.participations.each do |participation| %>
  <% if participation.course == @course %>
    <div class="container course_review_form">
      <hr>
      <h3>Add A Review</h3>
      <%= simple_form_for [@course, @course_review], class: 'form-inline' do |f| %>
        <%= f.input :rating, collection: 1..5 %>
        <%= f.input :content, label: 'Review', as: :text %>

        <%= f.submit "Add A Review", class: "btn btn-primary" %>
      <% end %>
    <% end %>
    </div>
  <% end %>
