<div class="container">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @course.photo? ? @course.photo.path : 'logo.png', crop: :fill %>');">
    <div class="banner-content">
    <h1><%= @course.name  %></h1>
    <p><%= @course.description %></p>
    <% if current_user.participates_to?(@course) %>
      You already booked this course
    <% else %>
      <%= simple_form_for [@course, @participation], class: 'form-inline' do |f| %>
        <%= f.submit "Book This Course", class: "btn btn-primary btn-lg" %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class="container text-center section">
  <h3><%= @course.name %></h3>
  <p>Course overview</p>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "alarm-clock.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Duration</h3>
        <p class="show-card-description">10 weeks</p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "money-bag.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Price</h3>
        <p class="show-card-description">£<%= @course.price %></p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="show-card">
        <%= image_tag "artistic-brush.png", {class: "show-card-image"}%>
      </div>
        <h3 class="show-card-title">Highlights</h3>
        <p class="show-card-description"><%= @course.description %></p>
    </div>
  </div>
</div>


<div class="container text-center section">
  <h3>Materials</h3>
    <p>What you need</p>
  <div class="row">
  <div class="materials-card">
    <div class="col-xs-6">
      <%= image_tag "painting.jpeg"%>
    </div>
    <div class="col-xs-6">
      <p>What you need:</p>
      <p>Brush</p>
      <p>Paint</p>
      <p>Canvas</p>
    </div>
  </div>
</div>
</div>

<div class="container text-center">
  <h3>Meet the artist</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="card-instructor" style="background-color: rgb(211,211,211)">
        <%= unique_image_tag(@course.user) %>
          <div class="flex-body">
           <p><%= @course.user.first_name %> <%= @course.user.last_name %></p>
           <p>Born in 1967 in Mexico City, Ortega is the leading Mexican artist of the generation that emerged in the wake of the influence of Gabriel Orozco and Francis Alÿs. Ortega studied with Orozco in the informal studio class established in the older artist’s atelier in the late 1980s.</p>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


